$scrollbarWidth: 20px;

.istk-list {
    height: 100%;
    width: 100%;

    > div {
        padding-right: $scrollbarWidth;
        white-space: nowrap;
        height: 100%;
    }

    .istk-list-items {
        display: inline-block;
        overflow-y: hidden;
        height: 100%;
        width: 100%;

        > div:hover {
            background: green;
        }
    }

    .istk-list-scroll {
        width: $scrollbarWidth;
        display: inline-block;
        vertical-align: top;
        position: relative;
        background: cyan;
        height: 100%;

        > div {
            position: absolute;
            left: 0;
            top: 0;
            right: 20px;
            bottom: 20px;
            background: pink;
        }
    }
}
