$scrollbarWidth: 20px;

.istk-list {
    height: 100%;
    width: 100%;

    > div {
        padding-right: $scrollbarWidth;
        white-space: nowrap;
        height: 100%;
    }

    .istk-list-items {
        display: inline-block;
        overflow-y: hidden;
        height: 100%;
        width: 100%;

        > div:hover {
            background: green;
        }
    }

    .istk-list-scroll {
        width: $scrollbarWidth;
        display: inline-block;
        vertical-align: top;
        position: relative;
        height: 99%;

        > div {
            &:first-child {
                top: 0;
                width: 2px;
                height: 100%;
                background: white;
                position: absolute;
                border-radius: 1px 1px;
                border: 1px solid grey;
                left: ($scrollbarWidth / 2) - 2px;
            }

            &:last-child {
                width: 8px;
                opacity: 0.4;
                background: black;
                position: absolute;
                border-radius: 4px 4px;
                border: 1px solid black;
                left: ($scrollbarWidth / 2) - 5px;
            }
        }
    }
}
